html {
  font-family: Helvetica;
  background-color: #ddd;
}

.container {
  max-width: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px;
  margin: 50px;
  background-color: #fff;
}

.bold {
  font-weight: bold;
}

/* header */

.header {
  text-align: center;
}

.main-title {
  font-size: 40px;
}

.main-paragraph {
  font-style: italic;
}

/* feature image section */

.featured-image {
  text-align: center;
  margin-top: 30px;
}

/* biography container */

.biography-container {
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
}

/* quotes */

.quotes-container {
  background-color: #ddd;
  padding: 30px;
}

.quotes-container blockquote {
  font-weight: 600;
  font-size: 30px;
}

.quotes-container p {
  font-style: italic;
}

/* img bold container */
.img-bold {
  text-align: center;
  font-weight: bold;
}

/* curiosities */

.curiosities-container {
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
}

.curiosities-container li {
  height: 30px;
}
