body {
  padding-bottom: 500px;
}

/* 1 - flex */
.flex {
  display: flex;
  background-color: #ddd;
  margin-bottom: 20px;
}

/* 2 - column */
.flex-column {
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  margin-bottom: 20px;
}

/* 3 - wrap */
.wrap {
  display: flex;
  /* try without wrap first */
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.box {
  height: 40px;
  width: 33%;
  border: 1px solid red;
}

/* 4 - justify-content */
.center,
.space-between,
.space-around,
.end {
  display: flex;
  margin-bottom: 20px;
}

.center .box,
.space-between .box,
.space-around .box,
.end .box {
  width: 50px;
}

.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.end {
  justify-content: end;
}

/* 5- align items */
.align-center,
.flex-end,
.stretch {
  display: flex;
  height: 200px;
  margin-bottom: 20px;
  border: 1px solid blue;
}

.align-center {
  align-items: center;
}

.flex-end {
  align-items: flex-end;
}

.stretch {
  align-items: stretch;
}

.stretch .box {
  height: auto;
}

/* 6 - gap */
.gap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border: 1px solid green;
}

.gap .box {
  width: 32%;
}

/* 7 - order */
.order {
  display: flex;
}

#one {
  order: 1;
}

#two {
  order: 2;
}

#three {
  order: 3;
}

/* 8 - grow */
.grow {
  display: flex;
}

.grow .box {
  flex-grow: 1;
  width: auto;
}

.grow .big {
  flex-grow: 3;
}

/* 9 - basis */
.basis {
  display: flex;
}

.basis .box {
  flex-basis: 20px;
}

.basis .big {
  flex-grow: 1;
}

/* 10 - shrink */
.shrink {
  display: flex;
  width: 500px;
}

.shrink .box {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 250px;
  width: auto;
}

.shrink .small {
  flex-shrink: 2;
}

/* 11 - flex shorthand */
.shorthand {
  display: flex;
}

.shorthand .box {
  width: auto;
  flex: 1 1 50px;
}

.shorthand .different {
  flex: 2 1 200px;
  background-color: blue;
}

/* 12 - self alignment */
.self-alignment {
  height: 300px;
  display: flex;
  align-items: flex-end;
  border: 1px solid green;
}

.different {
  align-self: center;
}
