/* 7 - css comments */
/* this rule styles our h3 titles */
h3 {
  color: yellowgreen;
}

/* 
    that paragraph needs to be red 
    and this is a multi line comment

    comment this for future classes (30+)
*/
/* p {
  color: red;
} */

/* classes */
.my-paragraphs {
  background-color: #000;
  color: aqua;
  padding: 5px;
}

/* id */
#exclusive-title {
  background-color: purple;
  padding: 10px;
  color: white;
}

/* css selector order */
body {
  padding-bottom: 500px;
}

h2 {
  border-bottom: 2px solid red;
}

.title {
  border-bottom: 3px solid purple;
}

#another-title {
  border-bottom: 4px solid gold;
}

/* color name */
.color-name {
  color: crimson;
}

/* hex */
.hex {
  color: #55a398;
}

.hex-2 {
  color: #1a4c6f;
}

/* more about hex */
.simple-hex {
  color: #333;
}

.simple-hex-2 {
  color: #a5f;
}

/* rgb */
.rgb {
  color: rgb(255, 0, 0);
}

.mixed-rgb {
  color: rgb(200, 93, 18);
}

/* rgba */
.rgba {
  color: rgba(200, 100, 50, 0.1);
}

/* hsl */
.hsl {
  color: hsl(100, 20%, 50%);
}

.hsl-2 {
  color: hsl(255, 50%, 44%);
}

/* background-color */
.bg {
  background-color: #000;
  color: yellow;
}

.bg-2 {
  background-color: rgb(200, 40, 20);
  color: #fff;
}

/* background opacity */
.bg-opacity {
  background-color: purple;
  opacity: 0.2;
}

.bg-opacity-2 {
  background-color: #999;
  color: #000;
  opacity: 0.8;
}

/* opacity just to the background element */
.rgba-opacity {
  background-color: rgba(90, 120, 25, 0.1);
  color: #000;
}

/* background image */
.bg-image {
  color: #fff;
  padding: 10px;
  background-image: url("../img/nature.jpg");
}

/* centering bg image */
.not-centered-bg,
.centered-bg {
  height: 400px;
  width: 400px;
}

.not-centered-bg {
  background-image: url("../img/bridge.jpg");
}

.centered-bg {
  background-image: url("../img/bridge.jpg");
  background-position: center;
  background-size: cover;
}

/* height and width */
.height-width {
  width: 200px;
  height: 100px;
  background-color: red;
}

.height-width-2 {
  height: 300px;
  background-color: darkgreen;
}

/* padding */
.without-padding {
  background-color: #111;
}

.with-padding {
  background-color: #111;
  padding: 20px;
}

/* padding individual sides */
.padding-individual {
  background-color: #111;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
}

/* padding shorthand */
.padding-shorthand {
  background-color: #222;
  padding: 6px 12px 18px 24px; /* TOP, RIGHT, BOTTOM, LEFT */
}

.padding-shorthand-2 {
  background-color: #222;
  padding: 10px 20px; /* TOP AND BOTTOM, LEFT AND RIGHT */
}

/* padding and width */
.without-box-sizing {
  background-color: #333;
  width: 200px;
  padding: 50px;
}

.with-box-sizing {
  background-color: #333;
  width: 200px;
  padding: 50px;
  box-sizing: border-box;
}

/* border */
.border {
  border: 1px solid red;
  padding: 10px;
}

.border-2 {
  border: 5px dotted #921;
  padding: 10px;
}

/* border individual */
.border-left {
  border-left: 3px solid gold;
}

.border-bottom {
  border-bottom: 2px dashed #123;
  padding: 5px;
}

/* rounded border */

.rounded-p {
  border: 4px solid blue;
  background-color: #000;
  color: blue;
  border-radius: 10px;
  padding: 10px;
}

.rounded-p-2 {
  background-color: #000;
  color: blue;
  border-radius: 10px;
  padding: 10px;
}

/* margin */
.margin-top {
  margin-top: 25px;
}

.margin-shorthand {
  margin: 5px 10px 15px 20px; /* TOP, RIGHT, BOTTOM, LEFT */
}

/* everything together */
.box-model {
  margin: 20px;
  padding: 15px 20px;
  border: 3px solid #854;
  border-radius: 7px;
  width: 200px;
  height: 100px;
}

/* challenge 3 */
#box-model-challenge {
  margin: 15px;
  padding: 15px;
  border: 5px solid #456;
  outline: 5px solid #441;
  background-color: #123;
}

.challenge-title {
  background-color: #000;
  color: #fff;
  border: none;
}

/* text alignment */
.text-aligned {
  text-align: right;
}

.container-text-center {
  text-align: center;
  width: 300px;
  border: 1px solid red;
}

/* text decoration */
.underline {
  text-decoration: underline;
}

.line-trough {
  text-decoration: line-through;
}

.remove-underline {
  text-decoration: none;
}

/* text transformation */
.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

/* letter spacing */
.spacing {
  letter-spacing: 5px;
}

/* fonts */

.serif {
  font-family: Georgia;
}

.sans-serif {
  font-family: Helvetica;
}

.monospace {
  font-family: "Courier New";
}

.cursive {
  font-family: cursive;
}

.fantasy {
  font-family: fantasy;
}

/* font style */
.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

/* font weight */
.thin {
  font-weight: 100;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: 900;
}

/* font size */
.small-p {
  font-size: 3px;
}

.big-p {
  font-size: 40px;
}

/* display */
.inline-box {
  width: 50px;
  height: 50px;
  margin: 10px;
  display: inline-block;
  background-color: #4f8;
}

.block-text {
  display: block;
  border: 1px solid red;
  margin: 10px;
}

/* display none */
.invisible {
  display: none;
}

/* static */
.static {
  background-color: #391;
  color: #fff;
  position: static;
  width: 100px;
  height: 100px;
}

/* relative */
.relative {
  background-color: #224;
  color: #fff;
  position: relative;
  width: 100px;
  height: 100px;
  top: 100px;
  left: 25px;
}

/* absolute */
.absolute {
  background-color: #425;
  color: #fff;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 1px;
  right: 0px;
}

/* relative and absolute */
.relative-container {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  position: relative;
  margin-top: 120px;
}

.absolute-1,
.absolute-2 {
  width: 50px;
  height: 50px;
  background-color: #916;
  position: absolute;
}

.absolute-1 {
  left: 10px;
  top: 10px;
}

.absolute-2 {
  right: 10px;
  bottom: 10px;
}

/* fixed */
.fixed {
  width: 100px;
  height: 50px;
  background-color: #264;
  position: fixed;
  right: 200px;
  top: 20px;
}

/* sticky */
.sticky {
  width: 100px;
  height: 50px;
  background-color: #644;
  position: sticky;
  right: 200px;
  top: 20px;
}

/* z index */
.absolute-3,
.absolute-4,
.absolute-5 {
  width: 50px;
  height: 50px;
  position: absolute;
}

.absolute-3 {
  background-color: #123;
  left: 0;
  top: 0;
}

.absolute-4 {
  background-color: #246;
  left: 15px;
  top: 15px;
  z-index: 2;
}

.absolute-5 {
  background-color: #489;
  left: 35px;
  top: 35px;
  z-index: 3;
}
